Package: com.hackingdartmouth.grayscalelock
Name: Grayscale Lock
Depends: mobilesubstrate, applist, preferenceloader
Version: 1.1.2
Architecture: iphoneos-arm
Description: Turn on/off grayscale automatically when specified apps are opened.
Maintainer: Alex Beals <alexcbeals+tweak@gmail.com>
Author: Alex Beals <alexcbeals+tweak@gmail.com>
Section: Tweaks
Depiction: http://cydia.alexbeals.com/GrayscaleLock
Icon: file:///Library/PreferenceBundles/GrayscaleLock.bundle/GrayscaleLock@2x.png
