<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hackingdartmouth.grayscalelock</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.hackingdartmouth.grayscalelock/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Springboard</string>
			<key>footerText</key>
			<string>Enable if the default springboard should be grayscale</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hackingdartmouth.grayscalelock</string>
			<key>key</key>
			<string>springboardGray</string>
			<key>label</key>
			<string>Grayscale</string>
			<key>PostNotification</key>
			<string>com.hackingdartmouth.grayscalelock/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Grayscale Default</string>
			<key>footerText</key>
			<string>If it's grayscale by default, then the app-specific toggle will make it normal.  Otherwise, the app-specific toggle will make the app in question grayscale.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hackingdartmouth.grayscalelock</string>
			<key>key</key>
			<string>grayscaleDefault</string>
			<key>label</key>
			<string>Grayscale by Default</string>
			<key>PostNotification</key>
			<string>com.hackingdartmouth.grayscalelock/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>App-Specific Controls</string>
			<key>footerText</key>
			<string>Control grayscale on an app by app basis</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Toggle on and off by app</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>com.hackingdartmouth.grayscalelock/settingschanged</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>System Applications</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>User Applications</string>
				</dict>
			</array>
			<key>ALSettingsKeyPrefix</key>
			<string>invert-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.hackingdartmouth.grayscalelock.plist</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Clear all selected apps.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset settings</string>
			<key>action</key>
			<string>resetSettings</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>If you like this tweak, please consider making a donation. Thanks!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>action</key>
			<string>donate</string>
		</dict>
	</array>
	<key>title</key>
	<string>GrayscaleLock</string>
</dict>
</plist>

